<app-breadcrumbs
  title="Conatcts"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="leadsList">
      <div class="card-header border-0">
        <div class="row g-4 align-items-center">
          <div class="col-sm-3">
            <div class="search-box">
              <input
                #ear
                type="text"
                name="searchTerm"
                class="form-control"
                placeholder="Search for..."
                [(ngModel)]="service2.searchTerm"
              />
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-sm-auto ms-auto">
            <div class="hstack gap-2">
              <button class="btn btn-soft-danger" onClick="deleteMultiple()">
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button
                type="button"
                class="btn btn-info"
                data-bs-toggle="offcanvas"
                href="#offcanvasExample"
              >
                <i class="ri-filter-3-line align-bottom me-1"></i> Fliters
              </button>
              <button
                type="button"
                class="btn btn-success add-btn"
                (click)="openModal(content)"
                id="create-btn"
              >
                <i class="ri-add-line align-bottom me-1"></i> Add Profil
              </button>
              <span class="dropdown" ngbDropdown>
                <button
                  class="btn btn-soft-info btn-icon fs-14 arrow-none"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  <i class="ri-settings-4-line"></i>
                </button>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                  ngbDropdownMenu
                >
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">Copy</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      >Move to pipline</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      >Add to exceptions</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      >Switch to common form view</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      >Reset form view to default</a
                    >
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <div class="table-responsive table-card">
            <table class="table">
              <thead>
                <tr class="bg-light text-muted">
                  <th scope="col" style="width: 50px">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="checkAll"
                        value="option"
                        [(ngModel)]="masterSelected"
                        (change)="checkUncheckAll()"
                      />
                    </div>
                  </th>
                  <th class="sort" data-sort="name">Id</th>
                  <th class="sort" data-sort="company_name">FullName</th>
                  <th class="sort" data-sort="Conatcts_score">Email</th>
                  <th class="sort" data-sort="location">Localisation</th>
                  <th class="sort" data-sort="action">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="ear.value == ''">
                <tr *ngFor="let data of profils">
                  <th scope="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="checkAll"
                        value="option1"
                      />
                    </div>
                  </th>
                  <td>
                    <ngb-highlight
                      [result]="data.id"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.fullname"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.email"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.localisation"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>

                  <td>
                    <ul class="list-inline hstack gap-2 mb-0">
                      <li
                        class="list-inline-item"
                        ngbTooltip="View"
                        placement="top"
                      >
                        <a [routerLink]="['/crm/profildetails', data.id]"
                          ><i class="ri-eye-fill align-bottom text-muted"></i
                        ></a>
                      </li>
                      <li
                        class="list-inline-item"
                        ngbTooltip="Edit"
                        placement="top"
                      >
                        <a
                          class="edit-item-btn"
                          data-bs-toggle="modal"
                          (click)="open4(content5, data)"
                          ><i class="ri-pencil-fill align-bottom text-muted"></i
                        ></a>
                      </li>
                      <li
                        class="list-inline-item"
                        ngbTooltip="Delete"
                        placement="top"
                      >
                        <a
                          class="remove-item-btn"
                          data-bs-toggle="modal"
                          (click)="confirm(data.id)"
                        >
                          <i
                            class="ri-delete-bin-fill align-bottom text-muted"
                          ></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="ear.value != ''">
                <tr *ngFor="let data of profilslist$ | async">
                  <th scope="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="checkAll"
                        value="option1"
                      />
                    </div>
                  </th>
                  <td>
                    <ngb-highlight
                      [result]="data.id"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.fullname"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.email"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.localisation"
                      [term]="service.searchTerm"
                    >
                    </ngb-highlight>
                  </td>

                  <td>
                    <ul class="list-inline hstack gap-2 mb-0">
                      <li
                        class="list-inline-item"
                        ngbTooltip="View"
                        placement="top"
                      >
                        <a href="/crm/contactDetails"
                          ><i class="ri-eye-fill align-bottom text-muted"></i
                        ></a>
                      </li>
                      <li
                        class="list-inline-item"
                        ngbTooltip="Edit"
                        placement="top"
                      >
                        <a
                          class="edit-item-btn"
                          data-bs-toggle="modal"
                          (click)="open4(content5, data)"
                          ><i class="ri-pencil-fill align-bottom text-muted"></i
                        ></a>
                      </li>
                      <li
                        class="list-inline-item"
                        ngbTooltip="Delete"
                        placement="top"
                      >
                        <a
                          class="remove-item-btn"
                          data-bs-toggle="modal"
                          (click)="confirm(data.id)"
                        >
                          <i
                            class="ri-delete-bin-fill align-bottom text-muted"
                          ></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="row justify-content-md-between align-items-md-center mt-3"
          >
            <div class="col col-sm-6">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing
                {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col col-sm-6">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ngb-pagination
                  [collectionSize]="(total$ | async)!"
                  [(page)]="service.page"
                  [pageSize]="service.pageSize"
                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
        <ng-template #content role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Profil</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="close-modal"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <form [formGroup]="ordersForm">
            <div class="modal-body">
              <input type="hidden" id="id-field" />
              <div class="row g-3">
                <div class="col-lg-12 posi">
                  <div class="flex-shrink-0">
                    <input
                      class="form-control d-none"
                      (change)="onChange($event)"
                      type="file"
                      id="formFile"
                    />
                    <label for="formFile" class="btn btn-danger"
                      ><i class="ri-upload-2-fill me-1 align-bottom"></i> Upload
                      File</label
                    >
                  </div>
                </div>
                <div *ngIf="spin == true" class="dis">
                  <div class="text-center">
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <p class="textposition">Extracting infomation from CV ...</p>
                </div>

                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="skillsInput" class="form-label">Skills</label>
                    <ng-select
                      (change)="onChange5($event)"
                      formControlName="skills"
                      [(ngModel)]="skillsInput"
                      [items]="selectValue"
                      [multiple]="true"
                    ></ng-select>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Email"
                      required
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Email required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12 hidden">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Full Name</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Email Adress"
                      required
                      formControlName="fullname"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row lol">
                  <div class="col-lg-4" id="name">
                    <label for="company_name-field" class="form-label"
                      >Surname</label
                    >
                    <input
                      type="text"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Surname"
                      required
                      formControlName="surname"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4" id="lastname">
                    <label for="lastname" class="form-label">Name</label>
                    <input
                      type="text"
                      id="lastname"
                      class="form-control"
                      placeholder="Enter Name"
                      required
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                  <!-- Switches Color -->
                  <div class="form-check col-lg-4 form-switch">
                    <input
                      class="form-check-input"
                      (click)="change($event)"
                      type="checkbox"
                      role="switch"
                      id="SwitchCheck1"
                      checked
                    />
                    <label class="form-check-label" for="SwitchCheck1"
                      >Switch name</label
                    >
                  </div>
                </div>

                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Localisation</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Localisation"
                      required
                      formControlName="localisation"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Localisation is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >phone Number</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter phone Number"
                      required
                      formControlName="phoneNumber"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        phone Number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Workplace</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Workplace"
                      required
                      formControlName="workplace"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        workplace is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <!--end col-->
                <div class="col-lg-6">
                  <label for="priority-field" class="form-label">Degree</label>
                  <select
                    class="form-control"
                    data-choices
                    data-choices-search-false
                    id="priority-field"
                    formControlName="degree"
                    [ngClass]="{
                      'is-invalid': submitted && form['priority'].errors
                    }"
                  >
                    <option value="Bac +3">Bac +3</option>
                    <option value="Bac +5">Bac +5 (Bachelor)</option>
                  </select>
                  <div
                    *ngIf="submitted && form['priority'].errors"
                    class="invalid-feedback"
                    align="left"
                  >
                    <div *ngIf="form['priority'].errors['required']">
                      Priority is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="priority-field" class="form-label"
                    >formation</label
                  >
                  <input
                    class="form-control"
                    data-choices
                    data-choices-search-false
                    id="priority-field"
                    formControlName="formation"
                    [ngClass]="{
                      'is-invalid': submitted && form['priority'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && form['priority'].errors"
                    class="invalid-feedback"
                    align="left"
                  >
                    <div *ngIf="form['priority'].errors['required']">
                      Priority is required
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="location-field" class="form-label"
                      >experience</label
                    >
                    <textarea
                      type="text"
                      id="location-field"
                      class="form-control"
                      placeholder="Enter location"
                      required
                      formControlName="experience"
                      [ngClass]="{
                        'is-invalid': submitted && form['location'].errors
                      }"
                    >
                    </textarea>
                    <div
                      *ngIf="submitted && form['location'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['location'].errors['required']">
                        Experience is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  id="add-btn"
                  (click)="saveprofil()"
                >
                  Add Profil
                </button>
              </div>
            </div>
          </form>
        </ng-template>
        <ng-template #content5 role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Modify Profil</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="close-modal"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <form [formGroup]="ordersForm">
            <div class="modal-body">
              <input type="hidden" id="id-field" />
              <div class="row g-3">
                <div *ngIf="spin == true" class="dis">
                  <div class="text-center">
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <p class="textposition">Extracting infomation from CV ...</p>
                </div>
                <div class="col-lg-6">
                    <div>
                      <label for="company_name-field" class="form-label"
                        >Id</label
                      >
                      <input
                        type="email"
                        id="company_name-field"
                        class="form-control"
                        placeholder=""
                          required
                          [(ngModel)]="profilupdate.id"
                        Disabled='true'
                        formControlName="id"
                        [ngClass]="{
                          'is-invalid': submitted && form['company'].errors
                        }"
                      />
                      <div
                        *ngIf="submitted && form['company'].errors"
                        class="invalid-feedback"
                        align="left"
                      >
                        <div *ngIf="form['company'].errors['required']">
                          Email required
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="skillsInput" class="form-label">Skills</label>
                    <ng-select
                      (change)="onChange5($event)"
                      formControlName="skills"
                      [(ngModel)]="profilupdate.skills"
                      [items]="profilupdate.skillsnotconfirmed"
                      [multiple]="true"
                    ></ng-select>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Email"
                      required
                      [(ngModel)]="profilupdate.email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Email required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12 hidden">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Full Name</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Email Adress"
                      required
                      formControlName="fullname"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row lol">
                  <div class="col-lg-4" id="name">
                    <label for="company_name-field" class="form-label"
                      >Surname</label
                    >
                    <input
                      type="text"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Surname"
                      required
                      [(ngModel)]="profilupdate.surname"
                      formControlName="surname"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4" id="lastname">
                    <label for="lastname" class="form-label">Name</label>
                    <input
                      type="text"
                      id="lastname"
                      class="form-control"
                      placeholder="Enter Name"
                      required
                      [(ngModel)]="profilupdate.name"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        full Name is required
                      </div>
                    </div>
                  </div>
                  <!-- Switches Color -->
                  <div class="form-check col-lg-4 form-switch">
                    <input
                      class="form-check-input"
                      (click)="change($event)"
                      type="checkbox"
                      role="switch"
                      id="SwitchCheck1"
                      checked
                    />
                    <label class="form-check-label" for="SwitchCheck1"
                      >Switch name</label
                    >
                  </div>
                </div>

                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Localisation</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Localisation"
                      required
                      [(ngModel)]="profilupdate.localisation"
                      formControlName="localisation"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        Localisation is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >phone Number</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter phone Number"
                      required
                      [(ngModel)]="profilupdate.phoneNumber"
                      formControlName="phoneNumber"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        phone Number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="company_name-field" class="form-label"
                      >Workplace</label
                    >
                    <input
                      type="email"
                      id="company_name-field"
                      class="form-control"
                      placeholder="Enter Workplace"
                      required
                      [(ngModel)]="profilupdate.workplace"
                      formControlName="workplace"
                      [ngClass]="{
                        'is-invalid': submitted && form['company'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['company'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['company'].errors['required']">
                        workplace is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <!--end col-->
                <div class="col-lg-6">
                  <label for="priority-field" class="form-label">Degree</label>
                  <select
                    class="form-control"
                    data-choices
                    data-choices-search-false
                    id="priority-field"
                    formControlName="degree"
                    [(ngModel)]="profilupdate.degree"
                    [ngClass]="{
                      'is-invalid': submitted && form['priority'].errors
                    }"
                  >
                    <option value="Bac +3">Bac +3</option>
                    <option value="Bac +5">Bac +5 (Bachelor)</option>
                  </select>
                  <div
                    *ngIf="submitted && form['priority'].errors"
                    class="invalid-feedback"
                    align="left"
                  >
                    <div *ngIf="form['priority'].errors['required']">
                      Priority is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="priority-field" class="form-label"
                    >formation</label
                  >
                  <input
                  [(ngModel)]="profilupdate.formation"
                    class="form-control"
                    data-choices
                    data-choices-search-false
                    id="priority-field"
                    formControlName="formation"
                    [ngClass]="{
                      'is-invalid': submitted && form['priority'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && form['priority'].errors"
                    class="invalid-feedback"
                    align="left"
                  >
                    <div *ngIf="form['priority'].errors['required']">
                      Priority is required
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="location-field" class="form-label"
                      >experience</label
                    >
                    <textarea
                      type="text"
                      id="location-field"
                      class="form-control"
                      placeholder="Enter location"
                      required
                      [(ngModel)]="profilupdate.experience"
                      formControlName="experience"
                      [ngClass]="{
                        'is-invalid': submitted && form['location'].errors
                      }"
                    >
                    </textarea>
                    <div
                      *ngIf="submitted && form['location'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['location'].errors['required']">
                        Experience is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  id="add-btn"
                  (click)="updateprofil()"
                >
                Modify Profil
                </button>
              </div>
            </div>
          </form>
        </ng-template>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel"
        >
          <div class="offcanvas-header bg-light">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              Conatcts Fliters
            </h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <!--end offcanvas-header-->
          <form action="" class="d-flex flex-column justify-content-end h-100">
            <div class="offcanvas-body">
              <div class="mb-4">
                <label
                  for="datepicker-range"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="datepicker-range"
                  data-provider="flatpickr"
                  data-range="true"
                  placeholder="Select date"
                />
              </div>
              <div class="mb-4">
                <label
                  for="country-select"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Country</label
                >
                <select
                  class="form-control"
                  data-choices
                  data-choices-multiple-remove="true"
                  name="country-select"
                  id="country-select"
                  multiple
                >
                  <option value="">Select country</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Brazil" selected>Brazil</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Denmark">Denmark</option>
                  <option value="France">France</option>
                  <option value="Germany">Germany</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Russia">Russia</option>
                  <option value="Spain">Spain</option>
                  <option value="Syria">Syria</option>
                  <option value="United Kingdom" selected>
                    United Kingdom
                  </option>
                  <option value="United States of America">
                    United States of America
                  </option>
                </select>
              </div>
              <div class="mb-4">
                <label
                  for="status-select"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Status</label
                >
                <div class="row g-2">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineCheckbox1"
                        >New Conatcts</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox2"
                        value="option2"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >Old Conatcts</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox3"
                        value="option3"
                      />
                      <label class="form-check-label" for="inlineCheckbox3"
                        >Loss Conatcts</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox4"
                        value="option4"
                      />
                      <label class="form-check-label" for="inlineCheckbox4"
                        >Follow Up</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label
                  for="leadscore"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Lead Score</label
                >
                <div class="row g-2 align-items-center">
                  <div class="col-lg">
                    <input
                      type="number"
                      class="form-control"
                      id="leadscore"
                      placeholder="0"
                    />
                  </div>
                  <div class="col-lg-auto">To</div>
                  <div class="col-lg">
                    <input
                      type="number"
                      class="form-control"
                      id="leadscore"
                      placeholder="0"
                    />
                  </div>
                </div>
              </div>
              <div>
                <label
                  for="leads-tags"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Tags</label
                >
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="marketing"
                        value="marketing"
                      />
                      <label class="form-check-label" for="marketing"
                        >Marketing</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="management"
                        value="management"
                      />
                      <label class="form-check-label" for="management"
                        >Management</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="business"
                        value="business"
                      />
                      <label class="form-check-label" for="business"
                        >Business</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="investing"
                        value="investing"
                      />
                      <label class="form-check-label" for="investing"
                        >Investing</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="partner"
                        value="partner"
                      />
                      <label class="form-check-label" for="partner"
                        >Partner</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lead"
                        value="lead"
                      />
                      <label class="form-check-label" for="Conatct"
                        >Conatcts</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="sale"
                        value="sale"
                      />
                      <label class="form-check-label" for="sale">Sale</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="owner"
                        value="owner"
                      />
                      <label class="form-check-label" for="owner">Owner</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Banking</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Exiting</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Finance</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Fashion</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end offcanvas-body-->
            <div
              class="offcanvas-footer border-top p-3 text-center hstack gap-2"
            >
              <button class="btn btn-light w-100">Clear Filter</button>
              <button type="submit" class="btn btn-success w-100">
                Filters
              </button>
            </div>
            <!--end offcanvas-footer-->
          </form>
        </div>
        <!--end offcanvas-->
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->

<!--Schedual a call-->
<ng-template #content2 let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalgridLabel">Log a call</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form action="javascript:void(0);">
        <div class="row g-3">
          <div class="col-xxl-6">
            <div>
              <label for="firstName" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="Enter firstname"
              />
            </div>
          </div>
          <!--end col-->
          <div class="col-xxl-6">
            <div>
              <label for="lastName" class="form-label">Comments</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Enter lastname"
              />
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-12">
            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
                (click)="modal.close('Close click')"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </form>
    </div>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header p-3 bg-light">
    <h5 class="modal-title" id="composemodalTitle">New Message</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div>
      <div class="mb-3 position-relative">
        <input
          type="text"
          class="form-control email-compose-input"
          data-choices
          data-choices-limit="15"
          value="support@themesbrand.com"
          data-choices-removeItem
          placeholder="To"
        />
        <div class="position-absolute top-0 end-0">
          <div class="d-flex">
            <button
              class="btn btn-link text-reset fw-semibold px-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#CcRecipientsCollapse"
              aria-expanded="false"
              aria-controls="CcRecipientsCollapse"
            >
              Cc
            </button>
            <button
              class="btn btn-link text-reset fw-semibold px-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#BccRecipientsCollapse"
              aria-expanded="false"
              aria-controls="BccRecipientsCollapse"
            >
              Bcc
            </button>
          </div>
        </div>
      </div>
      <div class="collapse" id="CcRecipientsCollapse">
        <div class="mb-3">
          <label>Cc:</label>
          <input
            type="text"
            class="form-control"
            data-choices
            data-choices-limit="15"
            data-choices-removeItem
            placeholder="Cc recipients"
          />
        </div>
      </div>
      <div class="collapse" id="BccRecipientsCollapse">
        <div class="mb-3">
          <label>Bcc:</label>
          <input
            type="text"
            class="form-control"
            data-choices
            data-choices-limit="15"
            data-choices-removeItem
            placeholder="Bcc recipients"
          />
        </div>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Subject" />
      </div>
      <div class="ck-editor-reverse">
        <ckeditor [editor]="Editor" data=""></ckeditor>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-ghost-danger"
      data-bs-dismiss="modal"
      (click)="modal.close('Close click')"
    >
      Discard
    </button>

    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-success">Send</button>
      <button
        type="button"
        class="btn btn-success dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ngbDropdownToggle
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
        <li>
          <a class="dropdown-item" href="javascript:void(0)"
            ><i class="ri-timer-line text-muted me-1 align-bottom"></i> Schedule
            Send</a
          >
        </li>
      </ul>
    </div>
  </div>
</ng-template>
