<div class="mt-2">
  <div class="progress progress-step-arrow progress-info " style="height: 50px;">
    <a href="javascript:void(0);" [ngClass]="markerStep[0] == true ?
    'progress-bar' : ' progress-bar bg-light text-dark '" role="progressbar" style="width: 90%" aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100" (click)="discussion()">Discussion stage</a>
    <a href="javascript:void(0);" [ngClass]="markerStep[1] == true  ?
    'progress-bar' : ' progress-bar bg-light text-dark '" role="progressbar" style="width: 90%"
        aria-valuenow="20" aria-valuemin="0" (click)="needsanalysis()"aria-valuemax="100"> Needs Analysis</a>
    <a href="javascript:void(0);" [ngClass]="markerStep[2] == true ?
    'progress-bar' : ' progress-bar bg-light text-dark '" role="progressbar" style="width: 90%"
        aria-valuenow="30" aria-valuemin="0" (click)="proposalquote()" aria-valuemax="100"> Proposal quotes</a>
    <a href="javascript:void(0);" [ngClass]="markerStep[3] == true ?
        'progress-bar' : ' progress-bar bg-light text-dark '" role="progressbar" style="width: 90%"
            aria-valuenow="30" aria-valuemin="0" (click)="Negociation()" aria-valuemax="100"> Negociation</a>
    

    <a href="javascript:void(0);" [ngClass]="markerStep[4] == true ?
    'progress-bar' : ' progress-bar bg-light text-dark '" role="progressbar" style="width: 90%"
        aria-valuenow="20" aria-valuemin="0" (click)="Closed()" aria-valuemax="100"> Closed</a>
    <button type="button" style="width: 90%; margin-left: 10px;"
    (click)="marker()"   
    class="btn btn-success btn-label waves-effect right waves-light rounded-pill"><i
            class="ri-check-double-line label-icon align-middle rounded-pill fs-16 ms-2"
            
            
            ></i> Mark Status as
        Complete</button>
</div>  
</div>



<div class="row">
    <div class="col-xxl-8 mt">
        <div class="card">
            <div class="border">
              <ul ngbNav #CustomHover="ngbNav" [activeId]="1" class="nav nav-pills custom-hover-nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                      <i class=" ri-discuss-fill nav-icon nav-tab-position"></i>
                      <h5 class="nav-titl nav-tab-position m-0">Discussion</h5>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-3">Activities</h5>
                                <div class="acitivity-timeline">
                                    <div *ngFor=" let data of calls"> 
                                         <div class="acitivity-item d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/users/avatar-1.jpg" alt=""
                                                class="avatar-xs rounded-circle acitivity-avatar" />
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1">{{data.subject}}<span
                                                    class="badge bg-soft-primary text-primary align-middle">New</span>
                                            </h6>
                                            <p class="text-muted mb-2">{{data.description}}</p>
                                            <small    class="mb-0 text-muted">{{format1(data.date)}}</small>
                                        </div>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
            
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                      <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                      <h5 class="nav-titl nav-tab-position m-0">Needs Analysis</h5>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="col-l-4">
                        <div class="card border card-border-success">
                            <div class="card-header">
                                <span class="float-end">100%</span>
                                <h6 class="card-title mb-0">Opportunity Quality <span class="badge bg-success align-middle fs-10">Excellent</span></h6>
                            </div>
                            <div class="card-body size_card">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="fw-medium" scope="row">Maitrise du sujet</td>
                                            <td>{{opportunityanalysis.maitrise_sujet}}<i class="text-warning align-bottom"></i></td>
                                            <td *ngIf="opportunityanalysis.maitrise_sujet=='non'"><button (click)="reason1(opportunityanalysis.maitrise_sujet_remarque)" type="button" class=" btn_change btn btn-outline-success btn-icon waves-effect waves-light"><i class="ri-file-warning-line"></i></button>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="fw-medium" scope="row">Maitrise du client</td>
                                            <td>{{opportunityanalysis.maitrise_client}}<i class="text-warning align-bottom"></i></td>
                                            <td *ngIf="opportunityanalysis.maitrise_client=='non'"><button (click)="reason(opportunityanalysis.maitrise_client_remarque)" type="button" class=" btn_change btn btn-outline-success btn-icon waves-effect waves-light"><i class="ri-file-warning-line"></i></button>

                                        </tr>
                                        <tr>
                                            <td class="fw-medium" scope="row">Estimation du risque d'avoir l'opportunite</td>
                                            <td>{{opportunityanalysis.risque}}<i class="text-warning align-bottom"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium" scope="row">  Liste des concurants  : </td>
                                        </tr>
                                      
                                        <table class="table ml-6 ml table-borderless mb-0">
                                            <tbody *ngFor="let data of opportunityanalysis.cancurants ">
                                               <td >
                                            <tr class="fw-medium" scope="row" > Concurant Name</tr>
                                            <tr>{{data.concurantname}}<i class="text-warning align-bottom"></i></tr>
                                        </td> 
                                        <td>
                                            <tr class="fw-medium" scope="row" > Prix</tr>
                                            <tr>{{data.prix}}<i class="text-warning align-bottom"></i></tr>
                                        </td>
                                        <td>
                                            <tr class="fw-medium" scope="row" > Reputation</tr>
                                            <tr>{{data.reputation}}<i class="text-warning align-bottom"></i></tr>
                                        </td>
                                        <td>
                                            <tr class="fw-medium" scope="row" > Part Pourcentage</tr>
                                            <tr>{{data.part_pourcentage}}<i class="text-warning align-bottom"></i></tr>
                                        </td>
                                        
                                            </tbody>
                                        
                                        </table>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>
                      <i class=" ri-money-dollar-box-line nav-icon nav-tab-position"></i>
                      <h5 class="nav-titl nav-tab-position m-0">Quotes</h5>
                    </a>
                    <ng-template ngbNavContent>
    
                          <div class="row">
                            <div class=" padd col-xxl-9">
                            <div class="card" id="companyList">
                                <div class="card-header">
                                    <div class="row g-2">
                                        <div class="col-md-3">
                                            <div class="search-box">
                                                <input type="text"  name="searchTerm" class="form-control" placeholder="Search for company..." [(ngModel)]="service.searchTerm">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-auto ms-auto">
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="text-muted text-nowrap">Sort by: </span>
                                                <select class="form-control mb-0" data-choices data-choices-search-false id="choices-single-default">
                                                    <option value="Owner">Owner</option>
                                                    <option value="Company">Company</option>
                                                    <option value="location">Location</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-card mb-2">
                                          <table class="table">
                                            <thead>
                                              <tr class="bg-light">
                                                <th scope="col" style="width: 50px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option"  >
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort="name" scope="col">Quote Id</th>
                                                <th class="sort" data-sort="name" scope="col">Quote Name</th>
                                                <th class="sort" data-sort="owner" scope="col">Amount</th>
                                                <th scope="col">Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let data of quotes">
                                              <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="checkAll" value="option1" >
                                                </div>
                                              </th>
                                              <td><ngb-highlight [result]="data.id" [term]="service.searchTerm"></ngb-highlight></td>
                                              <td><ngb-highlight [result]="data.quoteName" [term]="service.searchTerm"></ngb-highlight></td>
                                              <td>{{data.amount}}</td>
                                              <td>
                                                <ul class="list-inline hstack gap-2 mb-0">
                                                    <li class="list-inline-item" ngbTooltip="Delete" placement="top">
                                                        <a class="remove-item-btn" data-bs-toggle="modal" (click)="confirm1(data.id)">
                                                            <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                        <div class="row justify-content-md-between align-items-md-center">
                                          <div class="col col-sm-6">
                                              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                                  Showing
                                                  {{service.startIndex}} to
                                                  {{service.endIndex}} of {{service.totalRecords}}
                                                  entries
                                              </div>
                                          </div>
                                          <!-- Pagination -->
                                          <div class="col col-sm-6">
                                              <div class="text-sm-right float-sm-end listjs-pagination">
                                                <ngb-pagination
                                                [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                                              </ngb-pagination>
                                              </div>
                                          </div>
                                          <!-- End Pagination -->
                                        </div>
                                    </div>
                        
                                    <!-- Companies Model -->
                               
                        
                                </div>
                            </div><!--end card-->
                        </div>
                        </div>
                    </ng-template>
                </li>
              </ul>
            </div>

            <div class="card-body">
                <div class="tab-content text-muted">
                  <div [ngbNavOutlet]="CustomHover"></div>
                </div>
            </div><!-- end card-body -->
        </div>
    </div><!--end col-->
    <div class="col-xxl-4 mt">
        <div class="card" id="company-view-detail">
            <div class="card-body text-center">
                <div class="position-relative d-inline-block">
                    <div class="avatar-md">
                        <div class="avatar-title bg-light rounded-circle">
                            <img src="assets/images/imgopp.jpg" alt="" class="avatar-sm rounded-circle object-cover">
                        </div>
                    </div>
                </div>
    
                
                <h5 class="mt-3 mb-1">Opportunity</h5>
                <p class="text-muted">Brief Details</p>
    
                <ul class="list-inline mb-0">
                    <li class="list-inline-item avatar-xs">
                        <a (click)="openmodel(content4)" href="javascript:void(0);" class="avatar-title bg-soft-success text-success fs-15 rounded">
                            <i class="ri-phone-line fs-16"></i>
                        </a>
                    </li>
                    <li class="list-inline-item avatar-xs">
                        <a href="javascript:void(0);" class="avatar-title bg-soft-danger text-danger fs-15 rounded">
                            <i class="ri-mail-line"></i>
                        </a>
                    </li>
                    <li class="list-inline-item avatar-xs">
                        <a href="javascript:void(0);" class="avatar-title bg-soft-warning text-warning fs-15 rounded">
                            <i class="ri-question-answer-line"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h6 class="text-muted text-uppercase fw-semibold mb-3">Opportunity</h6>
                <p class="text-muted mb-4">{{opportunite.opportunityName}}</p>
                <div class="table-responsive table-card">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="fw-medium" scope="row">Description</td>
                                <td>{{opportunite.description}}</td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Location</td>
                                <td>{{country.countryName}}</td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Prix</td>
                                <td>{{opportunite.amount}}</td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Type</td>
                                <td>{{opportunite.opportunityType}}<i class="ri-star-fill text-warning align-bottom"></i></td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Status</td>
                                <td>{{opportunite.status }}<i class=" text-warning align-bottom"></i></td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Le Client</td>
                                <td>{{contact.name}}<i class="text-warning align-bottom"></i></td>
                            </tr>
                            <tr>
                                <div _ngcontent-bei-c303="" class="d-flex align-items-center gap-2">
                                    <div _ngcontent-bei-c303="">
                                        <h5 _ngcontent-bei-c303="" class="fs-12 text-muted mb-0">Profils :</h5>
                                    </div>
                                    <div _ngcontent-bei-c303="" class="avatar-group">
                                        <div _ngcontent-bei-c303="" class="avatar-group-item">
                                            <div _ngcontent-bei-c303="" class="avatar-xs"><img _ngcontent-bei-c303=""
                                                    src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle img-fluid"></div>
                                        </div>
                                        <div _ngcontent-bei-c303="" class="avatar-group-item">
                                            <div _ngcontent-bei-c303="" class="avatar-xs"><img _ngcontent-bei-c303=""
                                                    src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle img-fluid"></div>
                                        </div>
                                        <div _ngcontent-bei-c303="" class="avatar-group-item">
                                            <div _ngcontent-bei-c303="" class="avatar-xs">
                                                <div _ngcontent-bei-c303="" class="avatar-title rounded-circle bg-light text-primary"> A </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-bei-c303="" class="avatar-group-item">
                                            <div _ngcontent-bei-c303="" class="avatar-xs"><img _ngcontent-bei-c303=""
                                                    src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-fluid"></div>
                                        </div>
                                    </div>
                                </div>
                            </tr>

                            <tr>
                                <div class="col-lg-8">
                                    <label for="priority-field" class="form-label">Opportunity stage</label>
                                    <select
                                    (change)="onChange($event)"
                                      class="form-control"
                                      data-choices
                                      data-choices-search-false
                                      id="priority-field"
                                      [ngClass]="{
                                        'is-invalid': submitted && form['priority'].errors
                                      }"
                                    > <option default value=""></option>
                                      <option value="discussion_Stage">discussion Stage</option>
                                      <option value="needs_analysis">needs analysis</option>  
                              
                                      <option value="proposal_quotes">proposal quotes</option>
                                            <option value="negotiation">negotiation</option>
                                      <option value="closed">closed</option>
                                    </select>
                                    <div
                                      *ngIf="submitted && form['priority'].errors"
                                      class="invalid-feedback"
                                      align="left"
                                    >
                                      <div *ngIf="form['priority'].errors['required']">
                                        Priority is required
                                      </div>
                                    </div>
                                  </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end card-->
    </div>
</div><!--end row-->


<ng-template #content role="document" let-modal>
    <div class="modal-header p-3 bg-soft-info">
        <h5 class="modal-title" id="exampleModalLabel">Create Quote</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form  [formGroup]="ordersForm">
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label for="projectName-field" class="form-label">Quote Name</label>
                    <input type="text" id="projectName-field" class="form-control" placeholder="Project name" required formControlName="quoteName" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"/>
                    <div *ngIf="submitted && form['name'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['name'].errors['required']">Quote Name is required</div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div>
                        <label for="tasksTitle-field" class="form-label">Amount</label>
                        <input type="number" id="tasksTitle-field" class="form-control" placeholder="Title" required formControlName="amount" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }"/>
                        <div *ngIf="submitted && form['title'].errors" class="invalid-feedback" align="left">
                          <div *ngIf="form['title'].errors['required']">Amount is required</div>
                        </div>
                    </div>
                </div><!--end col-->   
            </div><!--end row-->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                <button type="button" (click)="saveTicket()" class="btn btn-success" >Add Ticket</button>
            </div>
        </div>
    </form>
</ng-template>
<ng-template #content4 let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalgridLabel">Log a call </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="callForm">
                <div class="row g-3">
                    <div class="col-xxl-6">
                        <div>
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Enter subject">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6">
                        <div>
                            <label for="lastName" class="form-label">Description</label>
                            <textarea type="text" class="form-control" formControlName="description" id="lastName" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                        [enableTime]="true" [convertModelValue]="true" formControlName="date" [dateFormat]="'Y-m-d H:i'">
                    </div><!--end col-->

                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button (click)="savecall()" type="button" class="btn btn-primary">Add call</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>
<ng-template #content5 let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalgridLabel"> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="callForm">
                <div class="row g-3">
                    <div class="col-xxl-6">
                        <div>
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Enter subject">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6">
                        <div>
                            <label for="lastName" class="form-label">Description</label>
                            <textarea type="text" class="form-control" formControlName="description" id="lastName" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                        [enableTime]="true" [convertModelValue]="true" formControlName="date" [dateFormat]="'Y-m-d H:i'">
                    </div><!--end col-->

                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button (click)="savecall()" type="button" class="btn btn-primary">Add call</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>
<ng-template #content6 let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalgridLabel"> Opportunity analysis </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="opporanalysis">
                <div class="row g-3">
                    <div class="col-xxl-6">
                        <div>
                            <label for="subject" class="form-label">Chiffre d'affaire</label>
                            <input type="number" formControlName="chiffre_affaire" class="form-control" id="subject" placeholder="Enter subject">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6">
                        <div>
                            <label for="lastName" class="form-label">Risque </label>
                            <input type="number" class="form-control" formControlName="risque" id="lastName" placeholder="Enter Risque"/>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div >
                        
                                
                            <label for="lastName" class="form-label">Maitrise du client </label>
                            <div class="form-check mb-2" >
                                <input (click)="test1()"  formControlName="maitrise_client" class="form-check-input" value="oui" type="radio"  id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                Oui
                                </label>
                             </div>
                                
                                <div class="form-check">
                                <input (click)="test()" formControlName="maitrise_client" class="form-check-input" type="radio" value="non" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                Non
                                </label>
                                </div>
                  </div>
                  <textarea  *ngIf="affiche" type="text" class="form-control" formControlName="maitrise_client_remarque" id="lastName" placeholder="Enter Maitrise du client">

                  </textarea>

                    </div>
                    <div class="col-xxl-6">
                        <div>
                            <label for="lastName" class="form-label">Maitrise du sujet </label>
                            <div class="form-check mb-2" >
                                <input (click)="test2()"  formControlName="maitrise_sujet" class="form-check-input" value="oui" type="radio"  id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                Oui
                                </label>
                             </div>
                                
                                <div class="form-check">
                                <input (click)="test3()" formControlName="maitrise_sujet" class="form-check-input" type="radio" value="non" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                Non
                                </label>
                                </div>
                         
                                <div formArrayName="maitrise_sujet_remarque" (change)="onCheckboxChange($event)" *ngIf="affiche1" >
                                     <label class="form-check-label p-3" for="flexRadioDefault2">
                                    Reasons
                                </label>     
                                <div class="form-check form-check-secondary mb-3">
                                    <input  value="Disponibilite_ressoures" class="form-check-input" type="checkbox" id="formCheck7" >
                                    <label class="form-check-label" for="formCheck7">
                                        Disponibilite_ressoures
                                    </label>
                                    </div>
                                    <div class="form-check form-check-success mb-3">
                                    <input value="Champ d'action du projet"class="form-check-input" type="checkbox" id="formCheck8" >
                                    <label class="form-check-label" for="formCheck8">
                                        Champ d'action du projet 
                                    </label>
                                    </div>
                                    <div class="form-check form-check-warning mb-3">
                                    <input  value="Duree du projet" class="form-check-input" type="checkbox" id="formCheck9" >
                                    <label class="form-check-label" for="formCheck9">
                                        Duree du projet
                                    </label>
                                    </div>  
                                </div>
                                                       </div>
                    </div>
    
                    <div class="col-lg-12">
                        <table class="table table-bordered" formArrayName="cancurants">
                            <tr>   <label for="lastName" class="form-label">Ajouter un concurant</label>  </tr>
                            <tr *ngFor="let conc of cancurant().controls ; let i=index" [formGroupName]="i">
                              <td>
                                  <input placeholder="Enter Concurant" type="text" formControlName="concurantname" class="form-control" >
                              </td> 
                              <td>
                                <input placeholder="Enter part_pourcentage" type="number" formControlName="part_pourcentage"  class="form-control">
                            </td>
                               <td>
                                <input placeholder="Enter prix" type="number" formControlName="prix"  class="form-control">
                            </td>
                               <td>
                                <select placeholder="Enter reputation" formControlName="reputation" class="form-control mb-0" >
                                    <option default value="bien_repute">Bien repute</option>
                                    <option value="nouveau">Nouveau</option>
                                </select>
                               </td>

                              <td class="df">
                                  <button type="button" (click)="addcancurant()" class=" b btn btn-danger btn-icon waves-effect waves-light"><i class="las la-user-plus"></i></button>
                                  <button type="button" (click)="removecancurant(i)" class=" b btn btn-danger btn-icon waves-effect waves-light"><i class="ri-delete-bin-5-line"></i></button> 
                                         </td>
                              
                            </tr>
                          </table>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button (click)="saveoppanalysis()" type="button" class="btn btn-primary">Save analysis</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>
<ng-template #content7 let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalgridLabel"> Final Opportunity Stage </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="opp_status">
                <div class="row g-3">
                    <div class="col-xxl-6">
                        <div>
                            <label for="subject" class="form-label">opportunity status</label>
                            <select placeholder="Enter reputation" (click)="choice($event)" formControlName="status" class="form-control mb-0" >
                                <option default value="closed_win">closed win</option>
                                <option  value="closed_lost">closed lost</option>
                            </select>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-6" *ngIf="show">
                        <div>
                            <label for="lastName" class="form-label">Reason Lost</label>
                            <select placeholder="Enter reputation" formControlName="reasonlost" class="form-control mb-0" >
                                <option default value="price">Price</option>
                                <option value="product_issues">Product Issues </option>
                                <option value="relationships">Relationships</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                (click)="modal.close('Close click')">Close</button>
                            <button  (click)="changestatus()"type="button" class="btn btn-primary">Done</button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
    </div>
</ng-template>