pyresparser
streamlit
pafy
plotly
streamlit-tags
Pillow
flask
flask-cors
Flask-PyMongo
flask-restful
cors
nltk
spacy==2.3.5
py_eureka_client
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
