<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Leads" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="leadsList">
            <div class="card-header border-0">

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search for..." [(ngModel)]="searchText">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">
                            <button class="btn btn-soft-danger"><i class="ri-delete-bin-2-line"></i></button>
                            <button type="button" class="btn btn-info" data-bs-toggle="offcanvas"
                                href="#offcanvasExample"><i class="ri-filter-3-line align-bottom me-1"></i>
                                Fliters</button>
                            <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                                data-bs-target="#showModal" (click)="openModal(content)"><i
                                    class="ri-add-line align-bottom me-1"></i>Add Lead</button>
                            <span class="dropdown" ngbDropdown>
                                <button class="btn btn-soft-info btn-icon fs-14 arrow-none" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                    ngbDropdownToggle>
                                    <i class="ri-settings-4-line"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" ngbDropdownMenu>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Copy</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Move to pipline</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Add to exceptions</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Switch to common form
                                            view</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Reset form view to
                                            default</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">

                        <table class="table">
                            <thead>
                                <tr class="bg-light text-muted">
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                                        </div>
                                    </th>
                                    <th class="sort" data-sort="name">firstName</th>
                                    <th class="sort" data-sort="leads_score">lastName</th>
                                    <th class="sort" data-sort="phone">Phone</th>
                                    <th class="sort" data-sort="location">email</th>
                                    <th class="sort" data-sort="tags">leadSource</th>
                                    <th class="sort" data-sort="tags">Status</th>
                                    <th data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let index = index ; let currentLead of leads | paginate: { itemsPerPage: 3, currentPage: p } | filter:searchText">
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="option1">
                                        </div>
                                    </th>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img [src]="ImgUrl[index]" alt="f"
                                                    class="avatar-xxs rounded-circle image_src object-cover">
                                            </div>
                                            <div class="flex-grow-1 ms-2 name">
                                                <a [routerLink]="['leadDetails/',currentLead.id]">{{currentLead.firstName}}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>{{ currentLead.lastName }}</p>
                                    </td>
                                    <td>
                                        <p>{{ currentLead.phone }}</p>
                                    </td>
                                    <td>
                                        <p>{{ currentLead.email }}</p>
                                    </td>
                                    <td>
                                        <p>{{ currentLead.leadSource }}</p>
                                    </td>
                                    <td>
                                        <p>{{ currentLead.status }}</p>
                                    </td>
                                    <td>
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item edit" ngbTooltip="Call" placement="top">
                                                <a class="text-muted d-inline-block">
                                                    <i class="ri-phone-line fs-16"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item edit" ngbTooltip="E-mail" placement="top">
                                                <a class="text-muted d-inline-block">
                                                    <i class="ri-mail-line fs-16"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="View" placement="top">
                                                <a [routerLink]="['leadDetails/',currentLead.id]"><i
                                                        class="ri-eye-fill align-bottom text-muted"></i></a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="Edit" placement="top">
                                                <a class="edit-item-btn" data-bs-toggle="modal">
                                                    <i class="ri-pencil-fill align-bottom text-muted" (click)="update(currentLead, content)"></i></a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="Delete" placement="top">
                                                <a class="remove-item-btn" data-bs-toggle="modal">
                                                    <i class="ri-delete-bin-fill align-bottom text-muted" (click)="delete(currentLead)"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-sm-7">
                    <div class="text-sm-right float-sm-end listjs-pagination">
                        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="p = $event">
                        </pagination-controls>
                    </div>
                </div>

                <ng-template #content role="document" let-modal>
                    <div class="modal-header bg-light p-3">
                        <h5 class="modal-title" id="exampleModalLabel">Lead Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <app-add-lead  (addEvent)="save($event)"  [lead]="inputLead"></app-add-lead>
                </ng-template>

            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->