<form #f="ngForm" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" id="id-field" />
        <div class="row g-3">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="position-relative d-inline-block">
                        <div class="position-absolute bottom-0 end-0">
                            <label for="lead-image-input" class="mb-0" data-bs-toggle="tooltip"
                                data-bs-placement="right" title="Select Image">
                                <div class="avatar-xs cursor-pointer">
                                    <div class="avatar-title bg-light border rounded-circle text-muted">
                                        <i class="ri-image-fill"></i>
                                    </div>
                                </div>
                            </label>
                            <input class="form-control d-none" id="lead-image-input" type="file" accept="image/*"
                                #pic="ngModel" [(ngModel)]="lead.picture" name="picture" (change)="selectFile($event)"
                                >
                        </div>
                        <div class="avatar-lg p-1">
                            <div class="avatar-title bg-light rounded-circle">
                                <img [src]="url" id="lead-img"
                                    class="avatar-md rounded-circle object-cover" />
                            </div>
                        </div>
                    </div>
                    <h5 class="fs-13 mt-3">Lead Image</h5>
                </div>
                <div>
                    <label for="name-field" class="form-label">FirstName</label>
                    <input class="form-control" name="firstName" type="text" placeholder="Enter FirstName"
                        #fn="ngModel" required="required" minlength="3" pattern="[a-zA-Z]+$" [(ngModel)]="lead.firstName" />
                        <div *ngIf="fn.invalid && fn.touched" class="form-group alert alert-danger" align="left">
                            <div *ngIf="fn.hasError('required')">First Name is required</div>
                            <div *ngIf="fn.hasError('minlength')">First Name should have at least 3 caracters</div>
                            <div *ngIf="fn.hasError('pattern')">First Name should only contain letters</div>
                        </div>
                </div>
            </div>

            <!--end col-->
            <div class="col-lg-12">
                <div>
                    <label class="form-label">LastName</label>
                    <input type="email" name="lastName" class="form-control" #ln="ngModel"
                        [(ngModel)]="lead.lastName" placeholder="Enter LastName" required minlength="3" pattern="[a-zA-Z]+$"/>
                        <div *ngIf="ln.touched && ln.invalid" class="form-group alert alert-danger" align="left">
                            <div *ngIf="ln.hasError('required')">Last Name is required</div>
                            <div *ngIf="ln.hasError('minlength')">Last Name should have at least 3 caracters</div>
                            <div *ngIf="ln.hasError('pattern')">Last Name should only contain letters</div>
                        </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-12">
                <div>
                    <label  class="form-label">Email Adress</label>
                    <input type="email" id="company_name-field" class="form-control" name="email" #em="ngModel"
                        [(ngModel)]="lead.email" placeholder="Enter Email Adress" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                </div>
            </div>
            <div *ngIf="em.touched && em.invalid" class="form-group alert alert-danger" align="left">
                <div *ngIf="em.hasError('required')">Email is required</div>
                <div *ngIf="em.hasError('pattern')">Invalid Email Adress</div>
            </div>
            <!--end col-->
            <div class="col-lg-6">
                <div>
                    <label for="phone-field" class="form-label">Phone</label>
                    <input type="number" id="phone-field" class="form-control" placeholder="Enter phone number" required
                        name="phone" #ph="ngModel" [(ngModel)]="lead.phone" />
                </div>
            </div>
            <div *ngIf="ph.touched && ph.invalid" class="form-group alert alert-danger" align="left">
                <div *ngIf="ph.hasError('required')">Phone No is required</div>
            </div>
            <!--end col-->
            <div class="col-lg-6">
                <label for="Lead Source" class="form-label">Lead Source</label>
                <select class="form-control" name="LeadSource" aria-label="Floating label select example" #ls="ngModel"
                    [(ngModel)]="lead.leadSource" required aria-placeholder="Select Lead Source" >
                    <option value="linkedin">linkedin</option>
                    <option value="linkedin">facebook</option>
                    <option value="marketing_event">marketing_event</option>
                    <option value="website">website</option>
                    <option value="partner_referral">partner_referral</option>
                    <option value="other">other</option>
                </select>
            </div>
            <div *ngIf="ls.touched&&ls.invalid" class="form-group alert alert-danger" align="left">
                <div *ngIf="ls.hasError('required')">Lead Source is required</div>
            </div>
        </div>
        <!--end row-->
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="submit" class="btn btn-success" id="add-btn" (click)="save()"  [disabled]="(f.invalid)">Save</button>
        </div>
    </div>
</form>