<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Opportunities List" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card" id="tasksList">
          <div class="card-header border-0">
              <div class="d-flex align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">All Opportunities</h5>
                  <div class="flex-shrink-0">
                      <button class="btn btn-danger add-btn" data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal(content)"><i class="ri-add-line align-bottom me-1"></i> Create Opportunity</button>
                      <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                  </div>
              </div>
          </div>
          <div class="card-body border border-dashed border-end-0 border-start-0">
              <form>
                  <div class="row g-3">
                      <div class="col-xxl-5 col-sm-12">
                          <div class="search-box">
                              <input #ear type="text"  name="searchTerm" class="form-control" placeholder="Search for Opportunity or something..." [(ngModel)]="service.searchTerm">
                            <i class="ri-search-line search-icon"></i>
                          </div>
                      </div><!--end col-->

            
                      <div class="col-xxl-3 col-sm-4">
                          <div class="input-light">
                              <select class="form-control bg-light border-light" data-choices data-choices-search-false name="choices-single-default"  id="idStatus">
                                  <option value="">Status</option>
                                  <option value="all" selected>All</option>
                                  <option value="New">New</option>
                                  <option value="Pending">Pending</option>
                                  <option value="Inprogress">Inprogress</option>
                                  <option value="Completed">Completed</option>
                              </select>
                          </div>
                      </div><!--end col-->
                      <div class="col-xxl-1 col-sm-4">
                          <button type="button" class="btn btn-primary w-100" onclick="SearchData()"> <i class="ri-equalizer-fill me-1 align-bottom"></i>
                              Filters
                          </button>
                      </div><!--end col-->
                  </div><!--end row-->
              </form>
          </div><!--end card-body-->
          <div class="card-body">
              <div class="table-responsive table-card mb-2">
                <table class="table">
                  <thead>
                  <tr class="bg-light text-muted">
                    <th scope="col" style="width: 40px;">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="checkAll" value="option" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                      </div>
                  </th>
                    <th class="sort" sortable="id" (sort)="onSort($event)">ID</th>
                    <th class="sort" sortable="opportunityName" (sort)="onSort($event)">Opportunity Name</th>
                    <th class="sort" sortable="description" (sort)="onSort($event)">Description</th>
                    <th class="sort" sortable="amount" (sort)="onSort($event)">Amount</th>
                    <th class="sort" sortable="status" (sort)="onSort($event)">Status</th>
                    <th class="sort" sortable="opportunityType" (sort)="onSort($event)">opportunityType</th>
                  
                    <th class="sort" sortable="priority">Country</th>
                 
                    <th class="sort" sortable="priority">Action</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="ear.value ==''">
                  <tr  *ngFor="let data of listopp ">
                    <th scope="row">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="checkAll" value="option1" >
                      </div>
                    </th>
                    <td><a routerLink="/tasks/details"><ngb-highlight [result]="data.id" ></ngb-highlight></a></td>
                    <td><ngb-highlight [result]="data.opportunityName" ></ngb-highlight></td>
                    <td><ngb-highlight [result]="data.description" ></ngb-highlight></td>
                    <td>{{data.amount}}</td>
                    <td class="status">
                        <span *ngIf="data.status=='discussion_Stage'" class="badge badge-soft-primary text-uppercase">{{data.status}}</span>
                        <span *ngIf="data.status=='proposal_quotes'" class="badge badge-soft-info text-uppercase">{{data.status}}</span>
                        <span *ngIf="data.status=='needs_analysis'" class="badge badge-soft-secondary text-uppercase">{{data.status}}</span>
                        <span *ngIf="data.status=='negotiation'" class="badge badge-soft-success text-uppercase">{{data.status}}</span>
                        <span *ngIf="data.status=='closed_win'" class="badge badge-soft-info text-uppercase">{{data.status}}</span>
                        <span *ngIf="data.status=='closed_lost'" class="badge badge-soft-danger text-uppercase">{{data.status}}</span>
                    </td>
                    <td><ngb-highlight [result]="data.opportunityType" ></ngb-highlight></td>
                 <!--  <td><ngb-highlight [result]="data.country.countryName" ></ngb-highlight></td>  -->  
                    <td>
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-soft-secondary btn-sm dropdown arrow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <li><a class="dropdown-item" (click)="openModal2(content2,data)"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                <li><a class="dropdown-item" [routerLink]="['/crm/oppoflow',data.id]" ><i class="ri-eye-fill align-bottom me-2 text-muted"></i> Workflow </a></li>

                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal" (click)="openModal1(content1,data)" ><i class="ri-pencil-fill align-bottom me-2 text-muted" ></i> Edit</a></li>
                                <li>
                                    <button (click)="deleteopp(data.id)" type="button" class="dropdown-item remove-item-btn"
                                
                                     >
                                        <i  class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                </button>
                                </li>
                            </ul>
                        </div>
                    </td>

               
                  </tr>
                </tbody>
                <tbody   *ngIf ="ear.value!=''" >

             
                  <tr   *ngFor="let data of listViewList$ | async">
                    <th scope="row">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="checkAll" value="option1" >
                      </div>
                    </th>
                    <td><a routerLink="/tasks/details"><ngb-highlight [result]="data.id" ></ngb-highlight></a></td>
                    <td><ngb-highlight [result]="data.opportunityName" ></ngb-highlight></td>
                    <td><ngb-highlight [result]="data.description" ></ngb-highlight></td>
                    <td>{{data.amount}}</td>
                    <td><ngb-highlight [result]="data.status" ></ngb-highlight></td>
                    <td><ngb-highlight [result]="data.opportunityType" ></ngb-highlight></td>
                <!--  <td><ngb-highlight [result]="data.country.countryName" ></ngb-highlight></td> -->   
                    <td>
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-soft-secondary btn-sm dropdown arrow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <li><a class="dropdown-item" (click)="openModal2(content2,data)"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal" ><i class="ri-pencil-fill align-bottom me-2 text-muted" (click)="openModal1(content1,data)"></i> Edit</a></li>
                                <li>
                                    <button (click)="deleteopp(data.id)" type="button" class="dropdown-item remove-item-btn"
                                
                                     >
                                        <i  class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                </button>
                                </li>
                            </ul>
                        </div>
                    </td>

               
                  </tr>
                
                </tbody>
                </table>
              </div>
              <div class="row justify-content-md-between align-items-md-center">
                <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        Showing
                        {{service.startIndex}} to
                        {{service.endIndex}} of {{service.totalRecords}}
                        entries
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col col-sm-6">
                    <div class="text-sm-right float-sm-end listjs-pagination">
                      <ngb-pagination
                      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
          </div><!--end card-body-->
      </div><!--end card-->
  </div><!--end col-->
</div><!--end row-->

<ng-template #content role="document" let-modal>
    <div class="modal-header p-3 bg-soft-info">
        <h5 class="modal-title" id="exampleModalLabel">Create Opportunity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form  [formGroup]="ordersForm">
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label for="projectName-field" class="form-label">Opportunity Name</label>
                    <input type="text" id="projectName-field" class="form-control" placeholder="Project name" required formControlName="opportunityName" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"/>
                    <div *ngIf="submitted && form['name'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['name'].errors['required']">Project Name is required</div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div>
                        <label for="tasksTitle-field" class="form-label">Description</label>
                        <input type="text" id="tasksTitle-field" class="form-control" placeholder="Title" required formControlName="description" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }"/>
                        <div *ngIf="submitted && form['title'].errors" class="invalid-feedback" align="left">
                          <div *ngIf="form['title'].errors['required']">Title is required</div>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <label for="clientName-field" class="form-label">Amount</label>
                    <input type="number" id="clientName-field" class="form-control" placeholder="amount" required formControlName="amount" [ngClass]="{ 'is-invalid': submitted && form['createName'].errors }"/>
                    <div *ngIf="submitted && form['createName'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['createName'].errors['required']">Client Name is required</div>
                    </div>
                </div><!--end col-->
            
                <!--end col-->
                <div class="col-lg-12">
                    <label for="priority-field" class="form-label">opportunity Type</label>
                    <select class="form-control" data-choices data-choices-search-false id="priority-field" formControlName="opportunityType" [ngClass]="{ 'is-invalid': submitted && form['priority'].errors }">
                        <option value="consulting">Consulting</option>
                        <option value="forfait">Forfait</option>
                    </select>
                    <div *ngIf="submitted && form['priority'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['priority'].errors['required']">Priority is required</div>
                    </div>
                </div><!--end col-->
                
                    <div class="row g-3">
                       <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Contacts</label>
                    <select class="form-control" data-plugin="choices" name="ticket-status" id="ticket-status" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
                      <option *ngFor="let item of contacts" [value]="item.id">
                          {{ item.name }}
                       </option>
                    </select>
                </div>
                <!--  <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Countries</label>
                    <select class="form-control" data-plugin="choices" name="ticket-status" id="ticket-status" formControlName="country" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
                        <option *ngFor="let item of countries" [value]="item.id">
                            {{ item.countryName }}
                         </option>                
                    </select>
                </div>  -->
               
                <div class="col-lg-12">
                    <div class="mb-3">
                      <label for="skillsInput" class="form-label">Needed skills </label>
                      <ng-select
                        (change)="onChange($event)"
                        [(ngModel)]="skills"
                        [items]="skills"
                        [multiple]="true"
                      ></ng-select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Profils Assignement</label>
                  <ngx-simplebar style="height: 95px;">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <li *ngFor="let profil of profils">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input me-3" type="checkbox" value="" id="anna-adame">
                                <label class="form-check-label d-flex align-items-center" for="anna-adame">
                                    <span class="flex-shrink-0">
                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xxs rounded-circle">
                                    </span>
                                    <span class="flex-grow-1 ms-2">
                                       {{profil.fullname}}
                                    </span>
                                </label>
                            </div>
                        </li>
                 
                    
                    </ul>
                  </ngx-simplebar>
                  </div>
                </div>


             
            </div><!--end row-->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                <button type="button" class="btn btn-success" (click)="saveopportunity()">Add Opportunity</button>
            </div>
        </div>
    </form>
</ng-template>
<ng-template #content1 role="document" let-modal>
    <div class="modal-header p-3 bg-soft-info">
        <h5 class="modal-title" id="exampleModalLabel">Update Opportunity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form  [formGroup]="ordersForm">
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label for="projectName-field" class="form-label">Opportunity Name</label>
                    <input type="text" id="projectName-field" class="form-control" placeholder="Project name" required formControlName="opportunityName" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"/>
                    <div *ngIf="submitted && form['name'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['name'].errors['required']">Project Name is required</div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div>
                        <label for="tasksTitle-field" class="form-label">Description</label>
                        <input type="text" id="tasksTitle-field" class="form-control" placeholder="Title" required formControlName="description" [ngClass]="{ 'is-invalid': submitted && form['title'].errors }"/>
                        <div *ngIf="submitted && form['title'].errors" class="invalid-feedback" align="left">
                          <div *ngIf="form['title'].errors['required']">Title is required</div>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <label for="clientName-field" class="form-label">Amount</label>
                    <input type="number" id="clientName-field" class="form-control" placeholder="amount" required formControlName="amount" [ngClass]="{ 'is-invalid': submitted && form['createName'].errors }"/>
                    <div *ngIf="submitted && form['createName'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['createName'].errors['required']">Client Name is required</div>
                    </div>
                </div><!--end col-->
            
                <!--end col-->
                <div class="col-lg-12">
                    <label for="priority-field" class="form-label">opportunity Type</label>
                    <select class="form-control" data-choices data-choices-search-false id="priority-field" formControlName="opportunityType" [ngClass]="{ 'is-invalid': submitted && form['priority'].errors }">
                        <option value="consulting">Consulting</option>
                        <option value="forfait">Forfait</option>
                    </select>
                    <div *ngIf="submitted && form['priority'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['priority'].errors['required']">Priority is required</div>
                    </div>
                </div><!--end col-->
                
                    <div class="row g-3">
                       <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Contacts</label>
                    <select class="form-control" data-plugin="choices" name="ticket-status" id="ticket-status" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
                      <option *ngFor="let item of contacts" [value]="item.id">
                          {{ item.name }}
                       </option>
                    </select>
                </div>
                <!--
                <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Countries</label>
                    <select class="form-control" data-plugin="choices" name="ticket-status" id="ticket-status" formControlName="country" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
                        <option *ngFor="let item of countries" [value]="item.id">
                            {{ item.countryName }}
                         </option>                
                    </select>
                </div>
            -->
                <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Profils</label>
                    <select class="form-control" data-plugin="choices" name="ticket-status" id="ticket-status" formControlName="profils" [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">             
                    </select>
                </div>
                </div>


             
            </div><!--end row-->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
                <button type="button" class="btn btn-success" id="add-btn" (click)="update()">update Task</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #content2 role="document" let-modal>
    <div class="modal-header p-3 bg-soft-info">
        <h5 class="modal-title" id="exampleModalLabel"> Opportunity details </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form  >
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label for="projectName-field" class="form-label">Opportunity Name</label>
                    <input disabled type="text" id="projectName-field" 
                    
                    class="form-control" placeholder="Project name" [value]="oppdetail.opportunityName" 
                    />
                </div><!--end col-->
                <div class="col-lg-12">
                    <div>
                        <label for="tasksTitle-field" class="form-label">Description</label>
                        <textarea disabled type="text" id="tasksTitle-field" class="form-control" placeholder="Title"
                         required [value]="oppdetail.description" 
                         ></textarea>
                        
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <label for="clientName-field" class="form-label">Amount</label>
                    <input disabled type="number" id="clientName-field" class="form-control" placeholder="amount" required 
                    [value]="oppdetail.amount"
                     />
                </div><!--end col-->
            
                <!--end col-->
                <div class="col-lg-12">
                    <label for="priority-field" class="form-label">opportunity Type</label>
                    <input disabled type="text" id="clientName-field" class="form-control" placeholder="amount" required 
                    [value]="oppdetail.opportunityType" 
                    />

                </div><!--end col-->
                
                    <div class="row g-3">
                       <!-- nb :!! we don't have model for contact yet !!  -->
                       <!-- <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Contacts</label>
                    <input type="number" id="clientName-field" class="form-control" placeholder="amount" required 
                    [value]="data.contact.firstName" 
                    />

                </div> 
            
            -->
            <!--
                <div class="col-lg-12">
                    <label for="ticket-status" class="form-label">Countries</label>
                    <input type="text" id="clientName-field" class="form-control" placeholder="amount" required 
                    [value]="oppdetail.country.countryName"  disabled
                    />

                </div>
            -->
                </div>


             
            </div><!--end row-->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
            </div>
        </div>
    </form>
</ng-template>